home-page{
    display: grid;
    grid-template: 
    "header-item"
    "project-list"
    "footer";
    gap: 2em;
    min-height: 100%;
}

header-item{
    grid-area: header-item;
    
    background: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 28%;

    display: grid;
    grid-template: "filler" "title";
    justify-content: space-evenly;

    padding: 1em;
    height: 25em;
    width: 100%;
}

header-item h3{
    grid-area: title;
    color: #eee;
    text-align: center;
}

.sitelink{
    color: inherit;
    text-decoration: inherit;
}

project-list{
    grid-area: project-list;
    display: grid;
    grid-auto-flow: row;
    row-gap: 10px;
    justify-self: center;
    max-width: 720px;
}

project-item{
    display: block;
    padding: 10px;
    border-radius: 10px;

    background: #eee;
    color: #0f0f0f;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

project-item:hover{
    background: #CE961F;
    color: #eee;
}

footer{
    grid-area: footer;
}

artwork-page{
    margin: 1em;
    display: grid;
    grid-template:
    "artwork-list";
    gap: 1em;
}

artwork-list{
    grid-area: artwork-list;
    gap: 1em;
    min-height: 100%;
    justify-self: center;
}

artwork-item{
    display: block;
    background: #eee;
    height: 10em;

    padding: 10px;
    border-radius: 10px;
}

a.brighten {
    color: inherit;
    text-decoration: inherit;

    display: inline-block;
    background: black;
    padding: 0;
    border-radius: 10px;
}

a.brighten artwork-item {
    display: block;
    opacity: 0.25;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.brighten:hover artwork-item {
    opacity: 1;
}
