html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 900px) {
    nav {
        font-size: 1.3em;
    }
}

body {
    margin: 0;
    background: #303643;
}

nav {
    background: #222;
    display: grid;
    justify-items: stretch;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-auto-columns: 5em;
    column-gap: 10px;
}

navbar-item{
    background: #222;
    color: #eee;
    padding: .5em;
}

navbar-item.start{
    justify-self: start;
}

navbar-item a{
    color: #eee;
    text-decoration: none;
}

navbar-item:hover{
    background-color: #CE961F;
}

navbar-item.selected{
    color: #eee;
    background-color: #CE961F;
}

navbar-item.selected{
    pointer-events: none;
}

navbar-item.start{
    pointer-events: none;
}