html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 900px) {
    nav {
        font-size: 1.4em;
    }
}

body {
    margin: 0;
    background: #0f0f0f;
}

nav {
    background: #0f0f0f;
    display: grid;
    justify-items: stretch;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-auto-columns: 5em;
    height: 2.5em;
}

navbar-item{
    text-align: center;
    background: #0f0f0f;
    color: #eee;
    padding: .5em;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}

navbar-item.start{
    text-align: left;
    justify-self: start;
}

navbar-item.start:hover{
    background-color: #0f0f0f;
}

navbar-item.start a:hover{
    color: #CE961F;
}

navbar-item a{
    color: #eee;
    text-decoration: none;
}

navbar-item:hover{
    background-color: #CE961F;
}

navbar-item.selected{
    color: #eee;
    background-color: #CE961F;
}

navbar-item.selected{
    pointer-events: none;
}

footer{
    padding: 1em;
    background: #0C0C0C;
    color: #eee;
    grid-area: footer;
}

footer h4{
    text-align: center;
}