body{
    display: grid;
    grid-template: 
    "nav nav nav"
    "header-item header-item header-item";
    gap: 1em;
}

nav {
    grid-area: nav;
    background: #eee;
    padding: 1em;

    display: grid;
    justify-items: stretch;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-auto-columns: 5em;
    column-gap: 10px;
}

navbar-item{
    background: #222;
    color: #eee;
    padding: 0.5em;
}

navbar-item.start{
    justify-self: start;
}

header-item{
    grid-area: header-item;
    background: #eee;
    display: block;
    padding: 1em;
}